
.D3View {
  height: 0;
  overflow: hidden;
  /**
    padding-bottom is set to `(100 * height / width)%` by the D3View class.
    This preserves aspect ratio, but allows plots to be responsive in IE.
   */
  position: relative;
  width: 100%;

  /**
    work around suggested by
    https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3723601/
   */
  &.ms-render-fix {
    font-size: 101%;
  }

  > svg {
    fill: none;
    left: 0;
    position: absolute;
    stroke: none;
    stroke-width: 0;
    top: 0;
    width: 100%;
  }

  /* text */
  .axis {
    font-size: .8em;
  }

  .axis > .tick > text,
  .plot-title,
  .tooltip-content > text,
  .x > .label,
  .y > .label {
    fill: #000;
  }

  .tooltip-content {
    .value {
      font-weight: bold;
    }
  }

  /* lines */
  .axis > .domain,
  .axis > .tick > line,
  .tooltip-outline {
    stroke: #000;
    stroke-width: 1;
  }

  .legend,
  .tooltip-outline {
    fill: #fff;
  }
}
